.yahtzeeBoard {
    display: flex;
    justify-content: space-between;
    background: #F5F5F5;
    min-width: 1162px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.section {
    flex: 1;
    margin: 0 10px;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.tableCell, .tableHeader {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
    color: black; /* 确保文字颜色为黑色 */
}

.tableHeader {
    background-color: #f2f2f2;
}

.playerHeader {
text-align: center; /* 表头文字居中 */
}
